<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>cn.hsx124.user.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/user/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>save</servlet-name>
		<servlet-class>cn.hsx124.servlet.SaveUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>save</servlet-name>
		<url-pattern>/user/save</url-pattern>
	</servlet-mapping>
</web-app>